<!DOCTYPE html>
<html lang="en">
  {{> head }}

  <body>
    <header class="sitehead">
      <h1 class="logo"><img src="_img/ricg-logo.png" alt="Responsive Issues Community Group"></h1>
    </header>

	<div class="intro">
	    <p>The <abbr title="Responsive Issues Community Group">RICG</abbr> is a group of independent designers and developers working toward new web standards that will build fast, accessible, responsive websites.</p>
	</div>

    <div class="issues">
      {{> issues }}
    </div>
  </body>
</html>