<!DOCTYPE html>
<html lang="en">
  {{> head }}

  <body>
    <header class="sitehead">
      <h1 class="logo"><img src="_img/ricg-logo.png" alt="Responsive Issues Community Group"></h1>
    </header>

    <div class="issues">
      {{> issues }}
    </div>
  </body>
</html>