  <head>
    <meta charset="utf-8">
    <title>Responsive Issues Community Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="fullCSS"  content="/css/dist/all.css">
    <meta name="grunticonSVG"  content="/css/dist/bg/icons.data.svg.css">
    <meta name="grunticonDataPNG"  content="/css/dist/bg/icons.data.png.css">
    <meta name="grunticonPNG"  content="/css/dist/bg/icons.fallback.css">
    <meta name="fullJS"  content="/js/dist/all.js">

    <link rel="stylesheet" href="_css/all.css">

    <style>
      <?php include( "_css/critical.css" ); ?>
    </style>
    <noscript>
      <link rel="stylesheet" href="_css/all.css">
    </noscript>

    <link rel="stylesheet" href="/css/dist/fonts.woff.css">

    <noscript>
      <link href="/css/dist/bg/icons.fallback.css" rel="stylesheet">
    </noscript>

    <meta name="description" content="At Filament Group, We design engaging sites and apps for mobile, tablet, desktop and beyond that are simple to use and accessible to everyone.">
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/x-icon">
  </head>