  <head>
    <meta charset="utf-8">
    <title>Responsive Issues Community Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="fonts" content="/_css/fonts.css">
    <meta name="fullcss" content="/_css/all.css">

    <?php
    $critical = @file_get_contents("_css/critical.css" );
    $criticalCssNotEmpty = $critical !== false && strlen($critical) !== 0;
    if( is_null( $_GET[ "nocrit" ] ) && $criticalCssNotEmpty ) {
      echo "<style>";
      echo $critical;
      echo "</style>";
    } else {
      echo '<link rel="stylesheet" href="/_css/all.css">';
    } ?> 

    <noscript>
      <link rel="stylesheet" href="/_css/all.css">
    </noscript>

    <script src="/_js/initial.js" data-fulljs="/_js/main.js" id="initialjs"></script>

    <meta name="description" content="The ongoing efforts of the Responsive Issue Community Group.">
    <link href="favicon.ico" rel="icon">
  </head>