  <head>
    <meta charset="utf-8">
    <title>Responsive Issues Community Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="grunticon" content="/_css/_grunticon/">
    <meta name="fonts" content="/_css/fonts.css">

    <link rel="stylesheet" href="/_css/all.css">

    <style>
      <?php include( "_css/critical.css" ); ?>
    </style>

    <script src="/_js/initial.js" data-fulljs="/_js/main.js" id="initialjs"></script>

    <meta name="description" content="">
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/x-icon">
  </head>